body {
    background: #F8E8EE;

}

h1 {
text-align: center;
    background: #F2BED1;
    background_size:20px;
    padding: 20px;
}
.img{
height: 300px;
width : 300px;


}

.album{

height: 500px;
width : 500px;
  background-color: #FFD1DA;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

ul {
    list-style: none;
}
.root{
background: #A31ACB;

}
.head{

   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
text-align: center;
    background: #F5EA5A;
    background_size:200px;
    padding: 20px;

}
.capital{
background: #A31ACB;
}



fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}


input[type="text"],
input[type="number"],
input[type="url"] {
    width: 80%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.album h3 {
    text-align: center;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 10px;
}


th {
    background-color: #FDCEDF;
    color: #fff;
    text-align: left;
    padding: 8px;
}


td {
    border: 1px solid #ccc;
    padding: 8px;
}


tr:nth-child(even) {
    background-color: #f2f2f2;
}




table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
}

th, td {
    border: 1px solid #EEEEEE;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #FDCEDF;
}

th {
    background-color: #4CAF50;
    color: white;
}

td span {
    font-weight: bold;
}






