body {
    background: #4D2DB7;

}

h1 {
text-align: center;
    background: #D67BFF;
    background_size:20px;
    padding: 20px;
}
.img{
height: 300px;
width : 300px;


}

.album{

height: 500px;
width : 500px;
  background-color: #FFD1DA;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

ul {
    list-style: none;
}
.root{
background: #A31ACB;

}
.head{

   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
text-align: center;
    background: #F5EA5A;
    background_size:200px;
    padding: 20px;

}
.capital{
background: #A31ACB;
}