<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<h1>Songs</h1>
<table>
  <tr>
    <th>Song Title</th>
    <th>Length</th>
    <th>Track Number</th>
    <th>Album Title</th>
    <th>Action</th>
  </tr>
  <tr th:each="song : ${songs}">
    <td><span>Song Title:</span> <span th:text="${song.title}"></span></td>
    <td><span>Length:</span> <span th:text="${song.length}"></span></td>
    <td><span>Track Number:</span> <span th:text="${song.trackNumber}"></span></td>
    <td><span>Album Title:</span> <span th:text="${song.album.title}"></span></td>
    <td>


      <form th:action="'/song/delete/'+ ${song.id}" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit" name="adsa" onclick="return confirm('Are you sure you want to delete this song?')">Delete</button>
      </form>
    </td>
  </tr>
</table>
<a href="/new">Back to Albums</a>
</body>
</html>
